body {
  background-size: 1000px 1500px;
}

.header {
  padding: 10px 0;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  color: darkblue;
  padding: 0 30px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  font-size: xx-large;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  word-break: break-word;
}

.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_right-link {
  margin: 0 10px 0 10px;
}

.main {
  position: relative;
}

.title {
  position: absolute;
  top: 40%;
  font-size: 60px;
}

.firstview {
  margin: 0 0 0 auto;
  content: url(../img/firstview.jpeg);
  height: 30%;
  width: 50%;
  z-index: 10;
}

.content {
  position: absolute;
  top: 50%;
  padding: 20% auto 20px 0;
  background-color: darkblue;
  width: 60%;
  height: 20%;
  z-index: -10;
}